@model Trunc.Models.BrowseViewModel

@{
    ViewBag.Title = @ViewRes.SharedStrings.Browse;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Browse", "Home", FormMethod.Post, new { role = "form", @class = "form-inline" })) {
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="filter">@ViewRes.Browse.Find</label>
        <input type="text" id="filter" name="filter" class="form-control input-sm" value="@TempData["filter"]" />
    </div>
    <button type="submit" class="btn btn-primary btn-sm">@ViewRes.Browse.GoButton</button>
    @Html.ActionLink(ViewRes.Browse.Reset, "Browse", "Home", null, new { role = "button", @class = "btn btn-default btn-sm" })
}

<table class="table table-striped">
    <caption>@Model.TableCaption</caption>
    <tr>
        <th>@ModelRes.UrlItemModel.CustomUrl</th>
        <th>@ModelRes.UrlItemModel.OriginUrl</th>
        <th>@ModelRes.UrlItemViewModel.CreatedOn</th>
        <th>@ModelRes.UrlItemViewModel.TouchedOn</th>
        <th>@ModelRes.UrlItemModel.ExpireMode</th>
        <th>@ModelRes.UrlItemViewModel.ExpiryDate</th>
        <th>@ModelRes.UrlItemViewModel.HitCount</th>
        @*<th></th>*@
    </tr>

    @foreach (var item in Model.Items) {
        <tr>
            <td>
                <a href="@item.FullShortUrl" target="_blank">@item.ShortUrl</a>
            </td>
            <td>
                <abbr title="@item.OriginUrl">@item.OriginUrlForDisplay</abbr>
            </td>
            <td>
                @item.CreatedOnFormatted
            </td>
            <td>
                @item.TouchedOnFormatted
            </td>
            <td>
                @item.ExpireMode.ToString()
            </td>
            <td>
                @item.ExpiryDate
            </td>
            <td>
                @item.HitCount
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
    }

</table>
