@model Trunc.Models.UrlItemViewModel

@{
    ViewBag.Title = @ViewRes.Exists.Title;
}

<h2>@ViewBag.Title</h2>
<h3>
    @ViewRes.Exists.ExistsMessage <a href="@Model.FullShortUrl">@Model.FullShortUrl</a>
</h3>