@model Trunc.Models.UrlItemModel

@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>@Resources.Site.ApplicationName</h1>
    <p class="lead">@string.Format(Resources.Site.Tagline, Resources.Site.ApplicationName)</p>
</div>

<div class="well">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { role = "form", @class = "form-horizontal" })) {
        @Html.AntiForgeryToken()
        <fieldset>
            <div class="form-group">
                @Html.LabelFor(m => m.OriginUrl, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></span>
                        @Html.TextBoxFor(m => m.OriginUrl, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(m => m.OriginUrl, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ShortenUrl, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-resize-small"></span></span>
                        @Html.TextBoxFor(m => m.ShortenUrl, new { @class = "form-control", placeHolder = "Keep it empty to generate automatically" })
                    </div>
                    @Html.ValidationMessageFor(m => m.ShortenUrl, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ExpireMode, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-2">
                    @Html.EnumDropDownListFor(m => m.ExpireMode, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ExpireInDays, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-1">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-ban-circle"></span></span>
                        @Html.TextBoxFor(m => m.ExpireInDays, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-9">
                    @Html.ValidationMessageFor(m => m.ExpireInDays, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </fieldset>
    }
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $('form:first *:input[type!=hidden]:first').focus();

            $('#ExpireMode').change(function() {
                if ($(this).val() === '0') {
                    $('#ExpireInDays').closest('.form-group').hide();
                } else {
                    $('#ExpireInDays').closest('.form-group').show();
                }
            });

            $('#ExpireMode').change();
        });
    </script>
}
