@model Trunc.Models.UrlItemViewModel

@{
    ViewBag.Title = @ViewRes.Success.Title;
}

<h2>@ViewBag.Title</h2>
<h3>
    @ViewRes.Success.SuccessMessage <a href="@Model.FullShortUrl">@Model.FullShortUrl</a>
</h3>
